<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Battery Health Monitor"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Home Widget 1x1 Small Receiver -->
        <receiver
            android:name=".SmallWidgetProvider"
            android:exported="true"
            android:label="Battery Small (1x1)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_1x1_info" />
        </receiver>

        <!-- Home Widget 2x1 Medium Receiver -->
        <receiver
            android:name=".MediumWidgetProvider"
            android:exported="true"
            android:label="Battery Medium (2x1)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_medium_2x1_info" />
        </receiver>

        <!-- Home Widget 4x2 Large Receiver -->
        <receiver
            android:name=".LargeWidgetProvider"
            android:exported="true"
            android:label="Battery Large (4x2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_4x2_info" />
        </receiver>

        <!-- Home Widget Adaptive Resizable Receiver -->
        <receiver
            android:name=".AdaptiveWidgetProvider"
            android:exported="true"
            android:label="Battery Adaptive (Resizable)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_adaptive_info" />
        </receiver>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
